.button-theme {
  @include button-theme();

  &--outline {
    @include button-theme(2px, $white, $color-primary, $white);

    &:hover {
      color: $color-primary;
      background-color: rgb(236, 236, 236);
    }

    &-light {
      border-color: $white !important;

      @include button-theme(2px,none,$white);

      &:hover {
        background-color: $white;
        color: $color-primary;
      }
    }
  }

  &--light {
    background: rgba($color-primary, 0.1);
    color: $color-primary;

    &:hover {
      background: rgba($color-primary, 0.2);
      color: $color-primary;
    }
  }
}

.button-menu {
  font-size: 1.5rem;
  color: $color-primary;
  outline: none;
  cursor: pointer;

  &--light {
    color: $white;
  }
}

.button-search {
  cursor: pointer;
  outline: none;

  &--light {
    color: $white;
  }
}

.button-cart {
  color: $color-primary;
  margin-left: 1rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &__badge {
    display: inline-block;
    background-color: #e0b252;
    color: $white;
    width: 24px;
    height: 24px;
    margin-left: 0.2rem;
    border-radius: 50px;
    font-size: 12px;
    text-align: center;
    line-height: 24px;
  }

  &:hover {
    color: $color-primary;
  }

  &--light {
    color: $white;

    .button-cart__badge {
      background: $white;
      color: $color-primary;
    }

    &:hover {
      color: $white;
    }
  }
}

.button-close {
  font-size: 1.5rem;
  color: $color-primary;
  outline: none;
  cursor: pointer;
}

.close-button {
  display: inline-block;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;

  &::before,
  &::after {
    content: '';
    width: 90%;
    height: 2px;
    background: #1e1e1e;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(50%);
    transition: all 0.3s;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover {
    &::before {
      transform: rotate(0deg);
    }

    &::after {
      transform: rotate(0deg);
    }
  }

  &--mobile {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }

  &--product {
    position: relative;
    right: 0;
    left: calc(100% - 14px);
    top: 0;
    width: 14px;
    height: 14px;

    &::before,
    &::after {
      height: 1px;
    }
  }

  &--remove {
    left: 0;
    top: 50%;
    width: 1rem;
    height: 1rem;
    transform: translateY(-50%);
  }
}
