.card-theme {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;

  img {
    @include object-fit(cover);

    position: absolute;
    z-index: 0;
    filter: grayscale(100%) contrast(70%);
  }

  &__caption {
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__title {
    width: 90%;
    font-family: $font-permanent;
    font-size: 36px;
    color: $white;
    text-align: center;
    margin-bottom: 2rem;
  }

  &--small {
    height: 300px;
  }
}

.card-product-theme {
  &__img {
    height: 300px;

    img {
      @include object-fit(cover);
    }
  }

  &__description {
    height: 100px;
    text-align: center;
  }

  &__name {
    display: -webkit-box;
    line-height: 1.5;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 100%;
    height: 20px;
    text-transform: uppercase;
  }

  &__name,
  &__price {
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
  }
}

@media (min-width: 570px) {
  .card-theme {
    height: 400px;

    &--small {
      height: 300px;
    }
  }
}

@media (min-width: 1024px) {
  .card-theme {
    height: 600px;

    &--small {
      height: 430px;
    }
  }
}
