.buscador {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 1rem;
  padding: 0 0.5rem;
}

.form-search {
  &-mobile {
    width: 100%;
    height: 50px;
    display: flex;
    padding: 0 1rem;
  }

  &-desktop {
    background: $white;
    position: absolute;
    top: calc(100% + 1rem);
    right: 0;
    z-index: 50;
    width: 300px;
    height: 40px;

    &.active {
      display: inline-flex;
    }
  }

  &__input {
    display: inline-flex;
    height: 100%;
    border: 0;
    border-style: none;
    font-family: $font-montserrat;
    font-weight: 500;
    box-shadow: none;

    &::placeholder {
      color: rgba($color-primary, 0.7);
      font-weight: 500;
    }

    &:focus {
      border: none;
      box-shadow: none;
    }
  }

  &__submit {
    width: 50px;
    height: 100%;
    border-style: none;
    font-size: 1.5rem;
    color: $color-primary;
    outline: none;
    cursor: pointer;
  }
}

.label-theme {
  color: rgba($color-primary, 0.7);
  font-weight: 500;
}

.input-theme,
.textarea-theme {
  border: none;
  border-bottom: 1px solid rgba($color-primary, 0.2);
  box-shadow: none;
  font-family: $font-montserrat;
  padding-left: 0;

  &::placeholder {
    color: rgba($color-primary, 0.3);
  }

  &:focus {
    border: none;
    border-bottom: 1px solid rgba($color-primary, 0.2);
    box-shadow: none;
  }
}

.submit-theme {
  background: $color-primary;
  color: $white;
  font-family: $font-montserrat;
  text-transform: uppercase;
  padding: 1rem 2rem;
  cursor: pointer;
  border: 1px solid $color-primary;
  transition: all 0.3s;

  &:hover {
    background: $white;
    color: $color-primary;
  }
}
