.main-menu {
  z-index: 92;
  width: 100%;
  height: 100vh;
  max-width: 340px;
  background: $white;
  position: fixed;
  padding: 1rem 0;
  top: 0;
  left: -100%;
  transition: all 0.3s;

  &-active {
    left: 0;
  }

  &__background {
    z-index: 91;
    background: rgba($black, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    cursor: pointer;

    &-active {
      display: block;
    }
  }

  &__top {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 1.5rem;
    color: $color-primary;
    margin: 0;
    font-weight: 500;
  }

  &__container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    list-style: none;
    margin: 0;
    padding: 1rem 0;

    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba($color: $color-primary, $alpha: 0.3);
      border-radius: 4px;
    }
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;

    &:first-child {
      padding: 1.1rem 1rem;
      border-bottom: 1px solid rgba($color-primary, 0.1);
    }

    &:last-child {
      border-bottom: 0;
      padding: 1.5rem 1rem;
    }

    .button-header {
      display: block;
      width: 100%;
      height: 50%;
      text-align: center;
    }
  }

  &__link {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: $font-montserrat;
    font-weight: 500;
    padding: 1.1rem 1rem;
    font-size: 13px;
    color: $color-primary;
    border-bottom: 1px solid rgba($color-primary, 0.1);
    transition: all 0.3s;
    text-transform: uppercase;

    &:hover {
      color: #010101;
    }

    &.active {
      background: rgba($color-primary, 0.1);
    }
  }

  &__button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: $color-primary;
    border-left: 1px solid rgba($color-primary, 0.1);
    width: 50px;
    height: 56.19px;
    cursor: pointer;

    svg {
      transition: all 0.4s;
    }

    &.active {
      svg {
        transform: rotate(90deg);
      }
    }
  }
}

.main-children {
  list-style: none;
  margin: 0;
  width: 100%;
  transition: all 0.3s;
  display: none;

  &__title {
    background: rgba($color-primary, 0.01);
    padding: 1rem 0 0 1rem;
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;

    a {
      color: $color-primary;
    }
  }

  &__container {
    margin: 0;
  }

  &__item {
    display: block;

    &:first-child {
      margin-top: 1rem;
    }
  }

  &__link {
    font-weight: 400;
    font-size: 13px;
    color: rgba($color-primary, 0.6);
    letter-spacing: -0.5px;
    padding: 1rem 2rem;
    margin-left: -1rem;
    display: block;
    text-transform: capitalize;
    border-bottom: 1px solid rgba($color-primary, 0.1);
    transition: 0.3s ease-in-out;

    &:hover {
      background: $color-primary;
      color: $white;
    }
  }

  &.active {
    display: block;
  }
}

.social-menu {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;

  &__item {
    display: inline-block;
  }

  &__link {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 1px solid $color-primary;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-primary;
    transition: all 0.3s;
    margin-right: 1rem;

    &:hover {
      background: $color-primary;
      color: $white;
    }
  }

  &--left {
    text-align: left;
  }
}

.categories-menu {
  &__container {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__link {
    display: block;
    color: $color-primary;
    text-transform: uppercase;
    font-family: $font-montserrat;
    font-weight: normal;
    font-size: 1rem;
    margin-bottom: 2rem;

    &:hover {
      color: $color-primary;
    }
  }
}

.mobile-nav {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background: $white;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.12);

  &__container {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: center;
  }

  &__item {
    height: 100%;
    width: 50%;
    text-align: center;
  }

  &__link {
    display: inline-block;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    font-family: $font-montserrat;
    color: rgba($color-primary, 0.7);
    padding: 0.7rem 0;

    &:hover {
      color: $color-primary;
    }

    img {
      display: block;
      width: 100%;
      height: 20px;
      margin-bottom: 0.1rem;
    }
  }
}

@keyframes animUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 740px) {
  .mobile-nav {
    display: none;
  }
}

@media (min-width: 1024px) {
  .main-menu {
    position: relative;
    padding: 0;
    max-width: none;
    height: auto;
    left: 0;
    z-index: 89;

    &__background {
      display: none;
    }

    &__container {
      display: flex;
      justify-content: center;
      padding: 0;
      overflow: inherit;
    }

    &__item {
      position: relative;
      z-index: 60;

      &:nth-child(1) {
        display: none;
      }
    }

    &__link {
      position: relative;
      justify-content: center;
      border-bottom: 3px solid $white;

      &:hover {
        border-color: #e0b252;
      }
    }

    &__button {
      display: none;
    }

    &--light {
      background: none;

      .main-menu__item {
        border: none;
      }

      .main-menu__link {
        border: none;
        color: rgba($white, 0.9);

        &:hover {
          color: $white;
        }
      }
    }
  }

  .main-children {
    width: auto;
    background: $white;
    position: absolute;
    top: 95%;
    z-index: 600;
    padding: 1.5rem;
    border-radius: 1px;
    box-shadow: 0 10px 10px 0 rgba(118, 118, 118, 0.5);
    animation: animUp 0.3s ease-in-out;
    display: none;

    &__title {
      white-space: nowrap;
      padding: 0.5rem 1rem;
      font-size: 14px;
      letter-spacing: 0;
      font-weight: 600;
      background: none;
    }

    &__container {
      margin: 0;
    }

    &__link {
      color: rgba($color-primary, 0.5);
      font-size: 15px;
      font-weight: 500;
      margin-left: 0;
      padding: 0.3rem;
      border: none;

      &:hover {
        background: none;
        color: $color-primary;
      }
    }

    &.active {
      display: flex;
    }
  }
}
