.slider-main {
  width: 100%;
  height: 500px;
  position: relative;

  .swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    width: 100%;
    height: 100%;
    position: relative;

    .img {
      &-version {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &-desktop,
      &-tablet {
        display: none;
      }

      @media (min-width: 640px) {
        &-mobile {
          display: none;
        }

        &-tablet {
          display: block;
        }
      }

      @media (min-width: 1024px) {
        &-tablet {
          display: none;
        }

        &-desktop {
          display: block;
        }
      }
    }
  }

  .swiper-pagination-bullet {
    opacity: 1;
  }

  .control-swiper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 50;
    width: 40px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba($color: $white, $alpha: 0.7);
    color: $color-primary;
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background: $white;
    }

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }
  }

  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    background: none;
    border: 1px solid $white;
    width: 10px;
    height: 10px;
    margin: 0 0.8rem;

    &-active {
      background: $white;
    }
  }

  &__caption {
    width: 90%;
    z-index: 50;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .subtitle {
    width: 100%;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: $font-permanent;
    color: $white;
    margin-bottom: 0;
  }

  .title {
    width: 100%;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 3rem;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $white;
    font-family: $font-montserrat !important;
  }

  .group-buttons {
    width: 100%;
    max-width: 352px;
    padding: 1rem 0;
    display: flex;
    justify-content: space-around;
  }
}

.slider-products {
  position: relative;

  .swiper-pagination-bullet {
    opacity: 1;
  }

  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    background: none;
    border: 1px solid $color-primary;
    width: 10px;
    height: 10px;

    &-active {
      background: $color-primary;
    }
  }

  .slider-controller {
    width: 40px;
    height: 80px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 50;
    cursor: pointer;
    outline: none;

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }
  }
}

.slider-instagram {
  margin-top: 3rem;
  position: relative;

  .swiper-pagination-bullet {
    opacity: 1;
  }

  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    background: none;
    border: 1px solid $white;
    width: 10px;
    height: 10px;

    &-active {
      background: $white;
    }
  }

  .slider-controller {
    width: 40px;
    height: 80px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    background: rgba($white, 0.5);
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 50;
    cursor: pointer;
    transition: all 0.3s;
    outline: none;

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }

    &:hover {
      background: $white;
    }
  }
}

@media (min-width: 575px) {
  .slider-main {
    &__caption {
      .subtitle {
        font-size: 2rem;
      }

      .title {
        font-size: 4.5rem;
        -webkit-text-stroke-width: 2px;
      }
    }
  }
}

@media (min-width: 920px) {
  .slider-main {
    &__caption {
      .subtitle {
        font-size: 30px;
      }

      .title {
        font-size: 120px;
        font-weight: 900;
      }
    }
  }
}
