.page__footer {
  padding: 3.5rem 0;
  background-color: #1e1e1e;
  color: $white;
}

.footer {
  &__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
  }

  &__text {
    color: #8a8a8a;
    display: flex;
    align-items: center;

    span {
      font-family: $font-montserrat;
      font-size: 14px;
    }

    &--contact {
      color: $color-primary;
      font-weight: 500;
    }
  }

  &__icon {
    display: inline-block;
    margin-right: 0.5rem;
  }

  &__link {
    font-size: 14px;
    color: #8a8a8a;
    font-family: $font-montserrat;
    display: block;
    padding: 0.5rem 0;
    transition: all 0.3s;

    &:hover {
      color: $white;
    }
  }

  &__copy {
    font-family: $font-montserrat;
    font-size: 11px;
    color: #8a8a8a;
    text-transform: uppercase;
    margin-top: 3rem;
  }

  &__cards {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;

    img {
      width: 220px;
      height: 100%;
      object-fit: contain;
    }

    @media (min-width: 1024px) {
      justify-content: flex-end;
    }
  }
}

.group-icons {
  &__link {
    color: #8a8a8a;
    font-size: 24px;
    margin-right: 1rem;

    &:hover {
      color: $white;
    }
  }
}
