.section {
  padding: 3.5rem 0;

  &__logo {
    width: 100%;
    height: 164px;
    margin: 2rem 0;

    img {
      @include object-fit(contain);
    }
  }

  &__paragraph {
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: $color-primary;
    font-family: $font-montserrat;

    &--center {
      text-align: center;
    }

    &--right {
      text-align: right;
    }
  }

  &__figure {
    height: 300px;

    img {
      @include object-fit(cover);
    }
  }

  &__title {
    color: transparent;
    font-weight: 800;
    font-size: 2.5rem;
    text-transform: uppercase;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $color-primary;
    text-align: center;
    font-family: $font-montserrat;

    &--center {
      font-weight: bold;
      text-align: center;
      font-size: 1.5rem;
      color: #b69574;
      text-transform: uppercase;
    }

    &-2 {
      font-weight: bold;
      font-size: 36px;
      line-height: 44px;
      text-transform: uppercase;
      color: $color-primary;
      margin-bottom: 2rem;
      font-family: $font-montserrat;

      &--right {
        text-align: right;
      }
    }

    &-primary {
      color: $color-primary;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 18px;
      margin-bottom: 2rem;
      font-family: $font-montserrat;
    }

    &-secondary {
      color: $color-primary;
      text-transform: uppercase;
      font-weight: normal;
      font-size: 13px;
      margin-bottom: 1rem;
      font-family: $font-montserrat;
    }
  }

  &__subtitle {
    font-family: $font-permanent;
    font-size: 2rem;
    margin-bottom: 0;
    text-align: center;

    &-2 {
      font-weight: 600;
      font-size: 18px;
      color: $color-primary;
      margin-bottom: 1rem;
      font-family: $font-montserrat;

      &--right {
        text-align: right;
      }
    }
  }

  &__text {
    font-size: 1rem;
    font-weight: 500;
    font-family: $font-montserrat;
  }

  &-caption {
    &__container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding: 7rem 0;
    }

    &__subtitle {
      width: 100%;
      font-family: $font-permanent;
      text-transform: uppercase;
      font-size: 1.5rem;
      color: $white;
      text-align: center;
    }

    &__title {
      width: 100%;
      color: transparent;
      font-weight: 900;
      font-size: 3rem;
      text-transform: uppercase;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: $white;
      text-align: center;
      font-family: $font-montserrat;
    }
  }
}

@media (min-width: 570px) {
  .section {
    &__title,
    &__subtitle {
      text-align: left;
    }

    &-caption {
      &__subtitle {
        font-size: 2rem;
      }

      &__title {
        font-size: 4.5rem;
      }
    }

    &__figure {
      height: 400px;
    }
  }
}

@media (min-width: 1024px) {
  .section {
    &__title,
    &__subtitle {
      text-align: left;
    }

    &-caption {
      &__subtitle {
        font-size: 37px;
      }

      &__title {
        font-size: 120px;
      }
    }

    &__figure {
      height: 500px;
    }
  }
}
