@keyframes up {
  0% {
    transform: translateY(0);
    visibility: visible;
  }

  1% {
    transform: translateY(-100px);
  }

  95% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0);
  }
}

.woocommerce-Button.button {
  background: rgba(#000, 0.2);
  margin-bottom: 0;

  &:hover {
    background: rgba(#000, 0.2);
  }
}

.woocommerce-error {
  list-style: none;
  margin: 0 0 2rem;
  padding: 1rem 20px;
  width: 100%;
  background: #e0b252;
  color: $white;

  li {
    display: block;
    font-size: 14px;
    text-align: left;
    position: relative;

    &::before {
      content: '';
      display: inline-block;
      width: 18px;
      height: 18px;
      margin-right: 1rem;
      background-image: url("../images/icons/exclamation.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.woocommerce-info {
  background: #e0b252;
  padding: 1rem 20px;
  color: $white;
  position: fixed;
  left: 0;
  bottom: -100px;
  margin: 0;
  width: 100%;
  font-size: 13px;
  z-index: 1000;
  animation-name: up;
  animation-duration: 10s;

  &::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 1rem;
    background-image: url("../images/icons/checked.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .showlogin {
    color: $white;
  }
}

.woocommerce-NoticeGroup {
  width: 100%;
}

.woocommerce-notices-wrapper {
  width: 100%;

  .woocommerce-message {
    position: relative;
    background: #459647;
    margin-bottom: 2rem;
    color: $white;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 60px 10px 45px;
    font-size: 13px;

    &::before {
      position: absolute;
      left: 13.5px;
      top: 50%;
      transform: translateY(-50%);
      content: '';
      display: inline-block;
      width: 18px;
      height: 18px;
      background-image: url("../images/icons/checked.svg");
      background-repeat: no-repeat;
      background-position: center;
    }

    a {
      display: inline-block;
      margin-left: 0.5rem;
      color: $white;
      text-decoration: underline;
      font-size: 13px;
    }

    .button.wc-forward {
      background: none;
      display: inline-flex;
      padding: 0;
      transition: all 0.3s;
      color: $white;
      text-transform: uppercase;
      line-height: 2;
      margin: 0 10px 5px 0;
    }
  }
}

.woocommerce-form-coupon-toggle {
  .woocommerce-info {
    font-size: 14px;
    margin-bottom: 1rem;
    position: relative;
    bottom: 0;
    color: $color-primary;
    font-weight: 500;
    padding: 0;
    background: none;
    animation: none;
    z-index: 1;

    &::before,
    &::after {
      display: none;
    }

    a {
      color: rgba($color-secondary, 0.7);
      text-decoration: underline;
      font-weight: 600;
    }
  }
}

.carusso-message {
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 20px;
  text-align: center;
  color: $white;
  background: #010001;
  padding: 1rem;
  margin: 3rem 0;
}

.woocommerce-info.cart-empty {
  display: block;
  position: relative;
  bottom: 0 !important;
  background: none;
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  z-index: 20;
  color: $color-primary;
  animation: none;

  &::before {
    content: '';
    display: flex;
    margin-bottom: 20px;
    background-image: url("../images/icons/shopping-cart-empty.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 150px;
  }
}

.woocommerce-mini-cart__empty-message {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: $color-primary;
  font-weight: 500;

  &::before {
    content: '';
    display: flex;
    margin-bottom: 20px;
    background-image: url("../images/icons/shopping-cart-empty.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 100px;
  }
}

.return-to-shop {
  width: 100%;
  text-align: center;

  p {
    width: 100%;
    max-width: 600px;
    margin: 0 auto 2rem;
    font-size: 14px;
    color: $color-secondary;
  }

  a {
    background: rgba($color-primary, 0.5);
    color: $white;
    text-transform: uppercase;

    &:hover {
      background: $color-primary;
    }
  }
}

@media (min-width: 520px) {
  .woocommerce-notices-wrapper {
    .woocommerce-message {
      .button.wc-forward {
        display: inline-block;
        width: auto;
        margin: 0 1rem 0 0;
      }
    }
  }
}
