.widget_shopping_cart {
  height: 100%;

  &_content {
    height: 100%;
  }
}

.carusso-woo-minicart {
  position: relative;

  &__background {
    background: rgba($black, 0.7);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 91;
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;

    &.active {
      opacity: 1;
      visibility: visible;
    }
  }

  &__container {
    background: $white;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 92;
    width: 90%;
    max-width: 350px;
    height: 100vh;
    transition: all 0.3s;

    &.active {
      right: 0;
    }
  }

  &__header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;

    h1 {
      font-size: 1.3rem;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 0;
      color: $color-primary;
    }

    button {
      position: relative;
      min-width: 80px;
      text-transform: uppercase;
      text-align: left;
      outline: none;
      font-size: 0.9rem;

      .close-button {
        right: 0;
      }
    }
  }

  &__footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 1rem;

    .button-theme {
      display: block;
      width: 100%;
      margin-top: 1rem;
      text-align: center;
      font-size: 14px;
      font-weight: 500;
    }
  }

  &__subtotal {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    h1 {
      font-size: 1.3rem;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 0;
      color: $color-primary;
    }

    span {
      color: rgba($color-primary, 0.7);
      font-weight: 600;
      font-size: 1.5rem;
    }
  }

  &__body {
    list-style: none;
    margin: 0;
    width: 100%;
    height: calc(100vh - 263.75px);
    padding: 0;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba($color: $color-primary, $alpha: 0.3);
      border-radius: 4px;
    }

    p {
      margin-bottom: 0.5rem;

      &:nth-child(2) {
        margin: 0;
      }

      span {
        color: rgba($color-primary, 0.7);
        font-weight: 600;
      }

      del {
        color: $color-primary;
        font-size: 1rem;
        text-decoration: none;
        font-weight: 500;
      }
    }
  }

  &__item {
    display: flex;
    padding: 1rem;
    border-bottom: 1px solid rgba($color-primary, 0.1);
  }

  &__figure {
    width: 80px;
  }

  &__detail {
    width: 100%;
    color: $color-primary;
    font-size: 12px;
    padding: 0 1rem;

    p {
      font-family: $font-montserrat;
      font-size: 14px;
    }
  }

  &__close {
    width: 40px;
    position: relative;
  }
}

.woocommerce-mini-cart__total {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;

  strong {
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 0;
    color: $color-primary;
  }

  span {
    color: rgba($color-primary, 0.7);
    font-weight: 600;
    font-size: 1.5rem;
  }
}

.woocommerce-mini-cart__buttons {
  width: 100%;

  a {
    display: block;
    width: 100%;
    margin-top: 1rem;
    text-align: center;
    font-size: 14px;
    color: $color-primary;
    text-transform: uppercase;
    font-weight: 500;
    background: rgba($color-primary, 0.2);

    &:hover {
      background: rgba($color-primary, 0.8);
    }

    &:nth-child(2) {
      background: $color-primary;
      color: $white;
    }
  }
}

.woocommerce {
  .blockUI.blockOverlay {
    position: relative;

    &::before {
      height: 1em;
      width: 1em;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -0.5em;
      margin-top: -0.5em;
      content: '';
      animation: spin 1s ease-in-out infinite;
      background: url('../images/icons/loader.svg') center center;
      background-size: cover;
      line-height: 1;
      text-align: center;
      font-size: 2em;
      color: red;
    }
  }
}
