@keyframes up {
  0% {
    transform: translateY(0);
    visibility: visible;
  }

  1% {
    transform: translateY(-100px);
  }

  95% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0);
  }
}

.onsale {
  display: inline-flex;
  width: 50px;
  height: 50px;
  background: #e22d2d;
  font-size: 13px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: $white;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 20;
}

.content-area {
  margin-bottom: 2rem;
}

.columns-3,
.columns-4 {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  .product {
    width: 100%;
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .product-container {
      width: 100%;
      position: relative;

      .product__slideshow {
        width: 100%;

        &-wrapper {
          width: 100%;
          height: 300px;
          position: relative;

          img {
            @include object-fit(contain);

            position: absolute;
          }
        }

        &-pagination {
          width: 100%;
          text-align: center;
          margin: 0.5rem 0;

          &-item {
            width: 15px;
            height: 15px;
            border-radius: 50%;
          }
        }
      }

      a {
        img {
          width: 100%;
          height: 300px;
          object-fit: contain;
        }
      }
    }

    .product_type_simple,
    .add_to_cart_button,
    .product_type_grouped,
    .product_type_external {
      position: absolute;
      bottom: 0;
      left: 0;
      margin-bottom: 0;
      height: 50px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $color-primary;
      text-transform: uppercase;
      letter-spacing: 1px;
      transition: all 0.3s;
      visibility: hidden;

      &::before {
        content: '';
        display: block;
        width: 50px;
        height: 50px;
        background: rgba($color-primary, 0.8);
        position: absolute;
        left: 0;
        bottom: 0;
        visibility: visible;
        background-image: url("../images/icons/shopping-cart.svg");
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          background: #000;
        }
      }
    }

    .carusso-wc-category {
      display: block;
      width: 100%;
      text-align: center;
      margin-bottom: 0.5rem;

      a {
        color: rgba($color-secondary, 0.6);
        font-size: 12px;
        font-weight: 700;
      }
    }

    .woocommerce-loop-product__title {
      text-align: center;
      font-family: $font-montserrat;
      font-weight: normal;
      font-size: 1rem;
      margin: 1rem 0 0 0;
    }

    .price {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: flex-end;

      > span {
        text-decoration: none;
        font-family: $font-montserrat;
        font-weight: 500;
        font-size: 1rem;
        color: $color-primary;
      }

      > ins {
        text-decoration: none;
        font-family: $font-montserrat;
        font-weight: 500;
        font-size: 1.1rem;
        margin-left: 0.5rem;

        .woocommerce-Price-amount {
          color: #e22d2d;
        }
      }

      > del {
        font-family: $font-montserrat;
        font-size: 1rem;
        color: #c4c4c4 !important;

        .woocommerce-Price-amount {
          color: #c4c4c4 !important;
          font-weight: 500;
        }
      }
    }

    .added_to_cart {
      background: #459647;
      padding: 1rem 20px;
      color: $white;
      position: fixed;
      left: 0;
      bottom: -100px;
      margin: 0;
      width: 100%;
      font-size: 13px;
      z-index: 70;
      animation-name: up;
      animation-duration: 10s;

      &::before {
        content: '';
        display: inline-block;
        width: 18px;
        height: 18px;
        margin-right: 1rem;
        background-image: url("../images/icons/checked.svg");
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }

  .product-category {
    width: 100%;

    a {
      width: 100%;
      display: block;

      img {
        width: 100%;
        height: 300px;
        object-fit: cover;
      }

      h2 {
        text-align: center;
        margin: 1rem 0;
        color: $color-primary;
        font-weight: 500;
        font-size: 14px;
        text-transform: uppercase;

        mark {
          display: block;
          background: none;
          font-size: 14px;
          font-weight: 500;
          margin-top: 0.5rem;
          color: rgba($color-primary, 0.8);

          &::after {
            content: 'Productos';
            position: relative;
            margin-left: 0.5rem;
            text-transform: capitalize;
          }
        }
      }
    }
  }
}

.woocommerce .products .star-rating {
  display: block;
  margin: 0 0 0.5em;
  float: none;
}

.woocommerce .star-rating {
  overflow: hidden;
  position: relative;
  height: 1em;
  line-height: 1;
  font-size: 1em;
  width: 5.4em;
}

.woocommerce .star-rating::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: $font-awesome;
  font-weight: 900;
  color: rgba($color-primary, 0.2);
  float: left;
  font-size: 0.8rem;
  top: 0;
  left: 0;
  position: absolute;
}

.woocommerce .star-rating span {
  &::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: $font-awesome;
    font-weight: 900;
    font-size: 0.8rem;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    color: #eabe12;
  }

  overflow: hidden;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  padding-top: 1.5em;
}

.woocommerce ul.products li.product .star-rating {
  font-size: 0.857em;
}

.woocommerce ul.products li.product strong {
  display: block;
}

@media (min-width: 520px) {
  .columns-3,
  .columns-4 {
    .product {
      width: 49%;
      margin: 0 0.5%;
    }
  }
}

@media (min-width: 920px) {
  .columns-3 {
    .product {
      width: 32%;
      margin: 1rem 0.6%;

      &:hover {
        .product_type_simple,
        .add_to_cart_button,
        .product_type_grouped,
        .product_type_external {
          bottom: 0;
        }
      }
    }

    .product-category {
      a {
        height: 300px;
        overflow: hidden;

        img {
          height: 100%;
          filter: grayscale(100%);
          position: relative;
          transition: 0.5s ease-in-out;
        }

        h2 {
          text-align: left;
          padding: 1rem;
          font-size: 1.1rem;
          font-weight: 400;
          color: $white;
          transition: 0.3s ease-in-out;

          mark {
            color: $white;
            margin-top: 1rem;
          }
        }

        &:hover {
          img {
            filter: none;
          }

          h2 {
            transform: translateY(-100px);
            background: rgba($black, 0.5);
          }
        }
      }
    }
  }

  .columns-4 {
    .product {
      width: 24%;
      margin: 0 0.5%;
    }
  }
}
