.woocommerce {
  > ul.order_details {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 2rem;

    li.order,
    li.date,
    li.total {
      display: inline-block;
      width: 100%;
      text-align: center;
      border-bottom: 1px solid rgba($color-primary, 0.1);
      padding: 1rem;
      color: $color-primary;
      font-size: 14px;

      strong {
        display: block;
        color: rgba($color-primary, 0.8);
        font-weight: 600;
      }
    }
  }

  #receipt_page_fullculqi {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    img {
      width: 100%;
      height: 30px;
      object-fit: contain;
    }

    span {
      width: 100%;
      display: block;
      margin: 3rem 0;
      text-align: center;
      font-size: 14px;
      color: rgba($color-primary, 0.8);
    }

    button,
    a {
      background: $color-primary;
      text-transform: uppercase;
      font-size: 14px;

      &:hover {
        background: $black;
      }
    }

    button {
      margin-right: 1rem;
    }
  }
}

@media (min-width: 520px) {
  .woocommerce {
    > ul.order_details {
      flex-wrap: nowrap;

      li.order,
      li.date {
        border-right: 1px solid rgba($color-primary, 0.1);
      }
    }
  }
}
