.woocommerce-cart-form {
  width: 100%;

  &__contents {
    width: 100%;
    margin: 0;

    thead {
      display: none;
    }

    tbody {
      width: 100%;
      display: block;

      tr {
        display: block;
        width: 100%;
      }
    }
  }

  &__cart-item {
    display: block;
    width: 100%;
    padding-bottom: 25px;
    padding-left: 115px;
    min-height: 136px;
    position: relative;
    border-bottom: 1px solid rgba($color-primary, 0.3);

    td::before {
      content: attr(data-title);
      float: left;
      padding-top: 3px;
      color: #2d2a2a;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 12px;
    }

    .product-name,
    .product-price,
    .product-quantity,
    .product-subtotal {
      display: block;
      width: 100%;
      text-align: right;
      padding: 10px 0;
    }

    .product-remove {
      display: inline-block;
      width: 14px;
      margin-left: auto;
      text-align: right;
      position: relative;
      top: 1.4rem;
      left: calc(100% - 14px);

      a {
        color: $color-primary;
        line-height: 0.1;
        font-size: 2rem;
      }
    }

    .product-thumbnail {
      width: 105px;
      position: absolute;
      left: 0;
    }

    .product-quantity {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .quantity {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        label {
          display: none;
        }

        input {
          width: 60px;
          box-shadow: none;
          border: 1px solid rgba($color-primary, 0.1);
          font-size: 13px;
          margin-bottom: 0;
        }
      }
    }

    .product-name {
      text-align: left;
      font-weight: 600;
      font-size: 14px;
      padding-top: 0;

      &::before {
        display: none;
      }

      a {
        color: $color-primary;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .product-quantity,
    .product-price {
      border-bottom: 1px dashed rgba(129, 129, 129, 0.2);
    }
  }
}

.container-cupon-update {
  width: 100%;

  .actions {
    display: block;
    width: 100%;

    .coupon {
      margin-top: 30px;
      padding: 25px;
      border: 2px dashed rgba(129, 129, 129, 0.2);

      label {
        display: none;
      }

      input {
        box-shadow: none;
        border: 0;
        border-bottom: 1px solid rgba($color-primary, 0.1);
        padding: 0.6rem 0;
        font-size: 14px;
        color: $color-primary;

        &::placeholder {
          color: $color-primary;
        }
      }

      .button {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #e0b252;
        text-transform: uppercase;
        margin-bottom: 0;

        &:hover {
          background: #876c32;
        }
      }
    }

    .button {
      width: 100%;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $color-primary;
      margin-top: 2rem;
      text-transform: uppercase;
    }
  }
}

@media (min-width: 750px) {
  .woocommerce-cart-form {
    &__contents {
      display: table;
      border-collapse: collapse;

      thead {
        display: table-header-group;

        tr {
          display: table-row !important;
          border-bottom: 2px solid rgba($color-primary, 0.1);
        }

        th {
          display: table-cell;
          text-align: center;
          font-weight: 500;
          color: $color-primary;
          text-transform: uppercase;
          font-size: 14px;
          padding: 0 1.5rem;
          border: none;
          vertical-align: middle;
          line-height: 1.2;

          &:nth-child(3) {
            padding: 15px 10px 15px 1rem;
            text-align: left;
          }

          &:nth-child(6) {
            text-align: right;
            padding-right: 0;
          }
        }
      }

      tbody {
        display: table-row-group;

        tr {
          display: table-row;

          .actions {
            display: flex;
            justify-content: space-between;
            width: 100%;
          }
        }
      }

      td > .button {
        width: 30%;
      }
    }

    &__cart-item {
      display: table-row;
      padding: 0;
      border-bottom: 1px solid rgba($color-primary, 0.1);

      td {
        padding: 15px 0;
        border: 0 !important;
        vertical-align: middle !important;

        &::before {
          display: none;
        }
      }

      .product-thumbnail {
        display: table-cell;
        position: relative;

        a {
          display: inline-block;
          width: 100px;
          background: #000;
        }
      }

      .product-remove {
        display: table-cell;
        width: 14px;
        margin: 0;
        text-align: center;
        position: relative;
        top: 0;
        left: 0;

        a {
          color: $color-primary;
          font-size: 2rem;
        }
      }

      .product-name,
      .product-price,
      .product-quantity,
      .product-subtotal {
        display: table-cell;
      }

      .product-quantity {
        .quantity {
          padding: 0;
          display: flex;
          justify-content: center;
        }
      }

      .product-name {
        font-weight: 400;
        font-size: 1rem;
        padding-left: 1rem;
      }

      .product-price {
        text-align: center;
        font-size: 0.9rem;
      }

      .product-subtotal {
        font-size: 1.2rem;
        font-weight: 500;
        color: rgba(67, 66, 49, 0.7);
      }
    }
  }

  .container-cupon-update {
    margin: 3rem 0;

    .actions {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .coupon {
        width: 60%;
        display: flex;
        padding: 0;
        margin: 0;
        border: none;

        label {
          display: none;
        }

        input {
          margin-bottom: 0;
          height: 50px;
          margin-right: 1rem;

          &::placeholder {
            color: $color-primary;
          }
        }

        .button {
          display: inline-block;
          width: 250px;
          margin: 0;
        }
      }

      .button {
        width: 30%;
        max-width: 200px;
        margin: 0;
      }
    }
  }
}
