.cart_totals {
  width: 100%;
  border: 2px solid #e5e5e5;
  padding: 1.5rem;

  h2 {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 29px;
    text-align: left;
    color: $color-primary;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  .shop_table {
    width: 100%;

    tbody {
      width: 100%;

      tr {
        width: 100%;
        display: flex;
        padding: 1rem 0;
        border-bottom: 1px solid rgba($color-primary, 0.3);

        th {
          width: auto;
          padding-right: 1rem;
          text-align: left;
          font-weight: 500;
          font-size: 1rem;
          line-height: 20px;
          color: $color-primary;
          display: flex;
          align-items: center;
        }

        td {
          width: 100%;
          text-align: right;
          font-size: 13px;
          font-weight: 400;
          color: $color-primary;

          .woocommerce-Price-amount {
            font-weight: 600;
            font-size: 0.9rem;
            line-height: 20px;
            color: rgba($color-secondary, 0.7);
            margin-left: 5px;
          }

          .woocommerce-shipping-methods {
            list-style: none;
            margin: 0;

            li {
              display: flex;
              align-items: center;
              position: relative;
              margin-bottom: 0.8rem;
              padding: 0;

              label {
                display: block;
                width: 100%;
                font-size: 13px;
                font-weight: 400;
                color: $color-primary;
              }

              input[type="radio"] {
                position: absolute;
                right: 0;
                background: blue;

                &:hover {
                  cursor: pointer;
                }
              }
            }
          }

          .woocommerce-shipping-destination {
            font-size: 14px;
            color: $color-secondary;
            margin-bottom: 2rem;

            strong {
              color: rgba($color-secondary, 0.7);
            }
          }

          .woocommerce-shipping-calculator {
            .shipping-calculator-button {
              text-decoration: underline;
              color: #e0b252;
              font-weight: 500;
              font-size: 14px;
              display: block;
              width: 100%;
              margin-bottom: 0;
            }

            .form-row {
              display: block;
              width: 100%;
              box-sizing: border-box;
              margin-bottom: 2rem;

              .select2-selection.select2-selection--single {
                border: none;
                border-bottom: 1px solid rgba($color-primary, 0.1);
                padding: 0.6rem 0.3rem;
                height: 42px;
                text-align: left;

                .select2-selection__rendered {
                  color: $color-primary;
                  font-weight: 500;
                  font-size: 0.9rem;
                  text-align: left;
                  padding: 0;
                  display: inline-block;
                }

                .select2-selection__arrow {
                  background-image: url("../images/icons/down-arrow.svg");
                  top: 0.7rem;
                  right: 10px !important;
                  background-position: right 1px top 50%;
                  background-size: auto 10px;
                  background-repeat: no-repeat;

                  b {
                    display: none;
                  }
                }
              }

              .input-text {
                color: $color-primary;
                font-weight: 500;
                font-size: 0.9rem;
                text-align: left;
                padding: 0.6rem 0.3rem;
                box-shadow: none;
                border: 0;
                border-bottom: 1px solid rgba($color-primary, 0.1);

                &::placeholder {
                  color: rgba($color-primary, 0.5);
                }
              }
            }

            .button {
              border: 1px solid $color-primary;
              color: $color-primary;
              background: $white;

              &:hover {
                color: $white;
                background: $color-primary;
              }
            }
          }

          strong {
            .woocommerce-Price-amount.amount {
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }

  .checkout-button {
    width: 100%;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 0;
    border: 1px solid $color-primary;
    background: $color-primary;
    text-transform: uppercase;

    &:hover {
      color: $color-primary;
      background: $white;
    }
  }
}

.woocommerce-remove-coupon {
  color: #e0b252;
  font-weight: 500;
  font-size: 14px;

  &:hover {
    color: $color-primary;
  }
}

.select2-container.select2-container--default.select2-container--open {
  .select2-dropdown {
    border-radius: 0;
    border: 1px solid rgba($color-primary, 0.3);
  }

  .select2-search--dropdown {
    background: rgba($color-primary, 0.1);
    padding: 0.5rem;
    position: relative;

    .select2-search__field {
      box-shadow: none;
      border: 1px solid rgba($color-primary, 0.3);
      margin-bottom: 0;
    }

    &::after {
      position: absolute;
      top: 1.3rem;
      right: 1.3rem;
      content: '';
      z-index: 20;
      background-image: url("../images/icons/loupe.svg");
      background-repeat: no-repeat;
      width: 15px;
      height: 15px;
    }
  }

  .select2-results {
    li {
      font-size: 0.8rem;
      color: $color-secondary;
      font-weight: 500;
      padding: 0.8rem 0.7rem;
    }

    &__option--highlighted[data-selected] {
      color: $white;
      background: $color-primary;
      font-weight: 400;
    }
  }
}

@media (min-width: 570px) {
  .cart_totals {
    h2 {
      font-size: 1.6rem;
      text-align: center;
    }
  }
}
