.woocommerce-Reviews {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  &-title {
    display: none;
  }

  .woocommerce-noreviews {
    font-weight: 500;
    font-size: 13px;
    font-family: $font-montserrat;
    color: rgba($color-primary, 0.8);
  }

  .commentlist {
    width: 100%;
    display: block;
    list-style: none;
    margin: 0;

    .review {
      width: 100%;
      margin-bottom: 1rem;
      display: block;

      .comment_container {
        display: flex;
        align-items: flex-start;

        img {
          display: inline-block;
          width: 60px;
          height: 60px;
          margin-right: 20px;
          border-radius: 50%;
          overflow: hidden;
        }

        .comment-text {
          width: calc(100% - 80px);

          .meta {
            font-size: 14px;
            font-family: $font-montserrat;

            .woocommerce-review__author {
              color: $color-primary;
              font-weight: 600;
            }

            .woocommerce-review__published-date {
              color: rgba($color-secondary, 0.8);
              font-weight: 500;
              font-style: italic;
            }
          }

          .description {
            color: rgba($color-primary, 0.8);
            font-size: 14px;
          }
        }
      }
    }
  }

  #review_form_wrapper {
    width: 100%;

    #review_form {
      width: 100%;

      .comment-respond {
        width: 100%;

        .comment-reply-title {
          text-transform: uppercase;
          font-family: $font-montserrat;
        }

        .comment-notes {
          color: #777;
          text-rendering: optimizeLegibility;
          font-size: 14px;
          margin-top: 1rem;
        }

        .comment-form-rating,
        .comment-form-comment,
        .comment-form-author,
        .comment-form-email {
          font-family: $font-montserrat;

          label {
            font-weight: 500;

            .required {
              color: red;
            }
          }

          textarea,
          input {
            width: 100%;
            border: none;
            box-shadow: none;
            border-bottom: 1px solid rgba($color-primary, 0.2);
            max-height: 80px;
          }
        }

        .comment-form-cookies-consent {
          input {
            margin: 0;
          }

          label {
            display: inline;
            font-size: 13px;
            color: rgba($color-primary, 0.8);
            font-weight: 500;
            line-height: 1%;
          }
        }

        .form-submit {
          width: 100%;

          .submit {
            background: $color-primary;
            border-style: none;
            height: 50px;
            color: $white;
            text-transform: uppercase;
            font-family: $font-montserrat;
            font-size: 14px;
            padding: 0.5rem 1rem;
            cursor: pointer;
            margin: 1.5rem 0 0;

            &:hover {
              background: #000;
            }
          }
        }
      }

      p.stars {
        a {
          text-decoration: none;
          display: inline-block;
          position: relative;
          width: 1em;
          height: 1em;
          text-indent: -999em;
          background: transparent;

          &::before {
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            text-indent: 0;
            font-family: $font-awesome;
            font-size: 1rem;
            content: '\f005';
            color: rgba($color-primary, 0.2);
          }
        }

        &.selected {
          a.active::before {
            color: #eabe12;
          }

          a.active ~ a::before {
            color: rgba($color-primary, 0.2);
          }

          a:not(.active)::before {
            color: #eabe12;
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .woocommerce-Reviews {
    #comments {
      width: 49%;
      margin-right: 1%;
    }

    #review_form_wrapper {
      width: 49%;
      margin-left: 1%;
    }
  }
}
