.woocommerce-breadcrumb {
  font-size: 13px;
  color: rgba($color-primary, 0.8);
  font-weight: 600;
  margin: 2rem 0;

  a {
    color: rgba($color-primary, 0.8);
    font-weight: 500;
  }
}

.carusso-single {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .summary {
    width: 100%;

    .product_title {
      font-size: 1.8rem;
      font-weight: normal;
      color: $color-primary;
    }

    .woocommerce-review-link {
      font-weight: 500;
      color: rgba($color-secondary, 0.8);
      font-size: 13px;
    }

    .price {
      display: block;
      width: 100%;
      text-align: left;

      ins,
      .woocommerce-Price-amount {
        text-decoration: none;
        color: $color-primary;
        font-family: $font-montserrat;
        font-weight: bold;
        font-size: 1.4rem;
      }

      del {
        font-family: $font-montserrat;
        font-size: 0.8rem;
        color: #c4c4c4 !important;

        .woocommerce-Price-amount {
          color: #c4c4c4 !important;
          font-weight: 500;
          font-size: 1rem;
          margin-right: 1rem;
        }
      }
    }

    .woocommerce-product-details__short-description {
      font-size: 14px;
      font-weight: 400;
      color: rgba($color-primary, 0.8);
    }

    .variations_form {
      .variations {
        width: 100%;

        tbody {
          width: 100%;
          display: flex;
          flex-wrap: wrap;

          tr {
            display: block;
            width: 100%;

            td {
              display: inline-block;
              width: 100%;

              label {
                font-weight: 300;
                font-size: 1rem;
                color: $black;
                margin-bottom: 9px;
              }

              .select_box_colorpicker.select_box.attribute_pa_color {
                .select_option_colorpicker.select_option {
                  border: none;

                  span {
                    border-radius: 50%;
                    width: 30px;
                    height: 30px;
                    position: relative;

                    &::after {
                      content: '';
                      position: absolute;
                      top: 50%;
                      left: 50%;
                      transform: translate(-50%, -50%);
                      width: 15px;
                      height: 15px;
                      background-image: url("../images/icons/checked.svg");
                      background-repeat: no-repeat;
                      background-position: center;
                      display: none;
                    }
                  }

                  &.selected {
                    border: 1px solid rgba($color-primary, 0.8);
                    border-radius: 50%;

                    span {
                      &::after {
                        display: block;
                      }
                    }
                  }
                }
              }

              select {
                width: auto;
                font-size: 14px;
                font-weight: normal;
                box-shadow: none;
                border: 1px solid rgba(49, 49, 49, 0.1);

                &:focus {
                  box-shadow: none;
                }
              }

              .reset_variations {
                display: inline-block;
                width: 100%;
                color: $color-secondary;
                font-size: 14px;
                font-weight: 500;
                padding: 0.5rem 0;
                text-align: center;
                text-decoration: underline;

                &:hover {
                  font-weight: 700;
                }
              }
            }
          }
        }
      }

      .woocommerce-variation-description {
        display: none;
      }

      .woocommerce-variation-price {
        margin: 2rem 0;
      }
    }

    .product_type_simple {
      background: $color-primary;
    }

    .single_add_to_cart_button {
      background: $color-primary;
      border: 1px solid $color-primary;
      text-transform: uppercase;
      font-size: 1rem;
      margin-top: 2rem;
      width: 100%;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        color: $color-primary;
        background: $white;
      }
    }

    .product_meta {
      margin-top: 2rem;
      padding: 2rem 0;
      border-top: 1px solid #f3e9e0;

      .sku_wrapper,
      .posted_in {
        display: block;
        padding: 8px 0;
        font-weight: 600;
        font-size: 1rem;

        .sku,
        a {
          font-weight: 500;
          color: rgba($color-primary, 0.8);
          margin-left: 1rem;
        }
      }
    }

    .grouped_form {
      width: 100%;

      table,
      tbody {
        width: 100%;
      }

      .woocommerce-grouped-product-list-item {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 3rem;
        width: 100%;

        &__quantity {
          width: 50%;
          display: block;

          .screen-reader-text {
            transform: translateY(-30px);
            display: inline-block;
            position: absolute;
            left: 0;
          }

          .input-text.qty {
            margin-bottom: 0;
          }
        }

        &__price {
          display: block;
          width: auto;

          ins,
          .woocommerce-Price-amount {
            text-decoration: none;
            color: $color-primary;
            font-family: $font-montserrat;
            font-weight: bold;
            font-size: 1rem;
          }

          del {
            font-family: $font-montserrat;
            font-size: 1rem;
            color: #c4c4c4 !important;

            .woocommerce-Price-amount {
              color: #c4c4c4 !important;
              font-weight: 500;
            }
          }
        }

        &__label {
          display: none;
        }
      }
    }
  }
}

.group-quantity-buttons {
  width: auto;
  display: flex;

  button {
    display: inline-block;
    width: 30px;
    border: 1px solid rgba($color-primary, 0.1);
  }
}

.quantity {
  .screen-reader-text {
    display: none;
  }

  .input-text {
    max-width: 50px;
    font-size: 1rem;
    font-weight: normal;
    box-shadow: none;
    border: none;
    border-top: 1px solid rgba($color-primary, 0.1);
    border-bottom: 1px solid rgba($color-primary, 0.1);
    margin-bottom: 0;
    text-align: center;

    &::-webkit-inner-spin-button {
      display: none;
    }

    &:focus {
      box-shadow: none;
    }
  }
}

@media (min-width: 750px) {
  .woocommerce-breadcrumb {
    margin: 0 0 1rem;
  }

  .carusso-single {
    .summary {
      width: 50%;

      .variations_form {
        .variations {
          tbody {
            tr {
              td {
                select {
                  width: auto;
                }

                .reset_variations {
                  text-align: left;
                }
              }
            }
          }
        }
      }

      .quantity {
        .input-text {
          width: auto;
          max-width: 60px;
        }
      }

      .single_add_to_cart_button {
        width: auto;
      }

      .grouped_form {
        .woocommerce-grouped-product-list-item {
          justify-content: flex-start;

          &__quantity {
            max-width: 200px;
            position: relative;
          }

          &__price {
            display: block;
            width: auto;
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .carusso-single {
    .onsale {
      left: 11%;
    }

    .summary {
      width: 45%;
    }
  }
}
