@import url("https://use.fontawesome.com/releases/v5.4.1/css/all.css");

.woocommerce-tabs {
  width: 100%;
  margin-top: 2rem;

  .tabs.wc-tabs {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      width: 100%;

      &.active {
        a {
          background: $color-primary;
          color: $white;
        }
      }

      a {
        display: inline-block;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: 1px;
        padding: 0.8rem 0.5rem;
        width: 100%;
        border-top: 1px solid $color-primary;
        border-left: 1px solid $color-primary;
        border-right: 1px solid $color-primary;
        color: $color-primary;
        transition: all 0.3s;
      }
    }
  }

  .woocommerce-Tabs-panel {
    width: 100%;
    margin-top: 2rem;
    padding: 0.5rem;

    h2 {
      display: none;
    }

    .woocommerce-product-attributes {
      width: 100%;
      border-collapse: collapse;

      th,
      td {
        text-align: left;
        vertical-align: top;
        border: 1px solid rgba($color-primary, 0.1);
        border-spacing: 0;
        border-collapse: collapse;
        padding: 0.8rem;

        p {
          margin-bottom: 0;
        }
      }

      th {
        color: $color-primary;
      }

      td {
        color: rgba($color-primary, 0.6);
        font-weight: 500;
      }
    }

    &--description {
      font-size: 14px;

      table {
        width: 100% !important;
        border-collapse: collapse;

        tbody {
          tr {
            border: 1px solid rgba($color-primary, 0.1);

            td {
              padding: 1rem;

              &:nth-child(1) {
                text-transform: capitalize !important;
                font-weight: 600;
                color: rgba($color-primary, 0.8);
                border-right: 1px solid rgba($color-primary, 0.1);

                strong {
                  text-transform: capitalize !important;
                  font-weight: 600;
                  color: rgba($color-primary, 0.8);
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 750px) {
  .woocommerce-tabs {
    margin-top: 3rem;

    .tabs.wc-tabs {
      li {
        display: inline-block;
        width: auto;

        a {
          &:hover {
            background: rgba(#c4c4c4, 0.1);
            color: $color-primary;
          }
        }
      }
    }
  }
}
