.carusso-my-account {
  width: 100%;

  &-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  &-sidebar {
    width: 100%;

    h3 {
      font-size: 18px;
      font-weight: 600;
      padding-left: 15px;
      padding-right: 10px;
      padding-bottom: 10px;
      margin-bottom: 15px;
      text-transform: uppercase;
      border-bottom: 1px solid rgba($color-primary, 0.1);
    }

    .woocommerce-MyAccount-navigation {
      width: 100%;

      ul {
        padding: 0;
        margin: 0;
        list-style: none;
        line-height: 1.4;

        li {
          &:hover {
            color: rgba(0, 0, 0, 0.9);
            background-color: rgba(136, 136, 136, 0.06);
            cursor: default;
          }

          a {
            text-decoration: none;
            transition: all 0.25s ease;
            display: block;
            padding: 10px 15px;
            color: rgba(0, 0, 0, 0.9);
            line-height: 20px;
            text-transform: none;
            font-size: 14px;
            font-weight: 400;
          }

          &.is-active {
            color: rgba(0, 0, 0, 0.9);
            background-color: rgba(136, 136, 136, 0.12);
            cursor: default;

            a {
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}

.woocommerce-MyAccount-content {
  width: 100%;
  margin-top: 1.5rem;

  p {
    font-size: 14px;
    font-weight: 400;
    color: rgba($color-primary, 0.7);
    margin-bottom: 1.5rem;

    a {
      color: $color-primary;
      font-weight: 600;

      &:hover {
        color: $color-secondary;
      }
    }
  }

  .u-column1.col-1.woocommerce-Address,
  .u-column2.col-2.woocommerce-Address {
    border-right: 0;
    margin-bottom: 1rem;

    h3 {
      font-size: 1.2rem;
      font-weight: 400;
      color: $color-primary;
      display: inline-block;
      margin-right: 0.5rem;
      text-transform: uppercase;
      margin-bottom: 1rem;
    }

    a {
      font-weight: 600;
      font-size: 13px;
      color: rgba($color-primary, 0.6);
    }

    address {
      font-family: $font-montserrat;
      font-weight: 500;
      color: rgba($color-primary, 0.8);
      line-height: 1.8;
      font-size: 14px;
    }
  }
}

@media (min-width: 750px) {
  .carusso-my-account {
    &-wrapper {
      flex-wrap: nowrap;
    }

    &-sidebar {
      width: 35%;
      max-width: 250px;
      border-right: 1px solid rgba($color-primary, 0.1);
      padding: 12px 1rem 0 0;
    }
  }

  .woocommerce-MyAccount-content {
    padding: 12px 0 0 1rem;
    margin-top: 0;
  }
}
