.woocommerce-MyAccount-content {
  .woocommerce-MyAccount-orders {
    width: calc(100% - 2rem);
    border-collapse: collapse;
    margin: 1rem;

    thead {
      border-bottom: 2px solid rgba($color-primary, 0.1);

      th {
        text-align: left;
        color: $color-primary;
        padding: 0 0 0.5rem;
        font-weight: 400;
        font-size: 14px;
        text-transform: uppercase;
      }
    }

    tbody {
      tr {
        vertical-align: baseline;
        border-bottom: 1px solid rgba($color-primary, 0.1);

        td {
          padding: 15px 12px;
          font-size: 14px;

          a {
            color: rgba($color-primary, 0.8);
            font-weight: 600;
            font-size: 15px;

            &:hover {
              color: $black;
            }

            &.button {
              background: $color-primary;
              color: $white;
              font-weight: 400;
              text-transform: uppercase;
              margin-bottom: 0;
              font-size: 14px;

              &:hover {
                background: $black;
              }
            }
          }
        }
      }
    }

    @media (max-width: 768px) {
      width: 100%;
      display: flex;
      margin: 0;

      thead {
        display: none;
      }

      tbody {
        width: 100%;

        tr {
          width: 100%;
          display: flex;
          padding: 1rem 0;
          flex-wrap: wrap;
          border-bottom: 1px solid rgba($color-primary, 0.1);

          td {
            display: block;
            width: 100%;
            text-align: right;
            padding: 0;
            margin-bottom: 0.9rem;
            font-size: 13px;
            font-weight: 500;
            color: rgba($color-primary, 0.8);

            &::before {
              content: attr(data-title);
              float: left;
              font-weight: 500;
              font-size: 14px;
              color: $color-primary;
              text-transform: uppercase;
            }

            a {
              color: rgba($color-primary, 0.8);
              font-weight: 600;
              font-size: 15px;

              &:hover {
                color: $black;
              }

              &.button {
                background: $color-primary;
                color: $white;
                font-weight: 400;
                text-transform: uppercase;
                margin-bottom: 0;
                font-size: 14px;

                &:hover {
                  background: $black;
                }
              }
            }
          }
        }
      }
    }
  }

  .woocommerce-order-details,
  .woocommerce-order-downloads {
    width: 100%;
    margin: 2rem 0;

    &__title {
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: 500;
      color: $color-primary;
      font-family: $font-montserrat;
      margin-bottom: 1rem;
    }

    .woocommerce-table--order-details {
      width: 100%;
      margin: 1rem 0;
      border-collapse: collapse;

      thead {
        background: none;
        border: none;
        font-family: $font-montserrat;
        border-bottom: 3px solid rgba($color-primary, 0.1);

        tr {
          th {
            font-weight: 400;
            text-transform: uppercase;
            font-size: 1rem;
            text-align: left;

            &:nth-child(2) {
              text-align: right;
            }
          }
        }
      }

      tbody {
        border: none;

        tr {
          font-size: 14px;

          td {
            &:nth-child(2) {
              text-align: right;
            }
          }
        }
      }

      tfoot {
        background: none;
        border: none;

        tr {
          th {
            font-weight: 400;
            font-size: 14px;
            text-align: left;
          }

          td {
            font-size: 14px;
            text-align: right;
            color: rgba($color-primary, 0.8);
          }

          &:last-child {
            th {
              text-transform: uppercase;
              font-size: 1.3rem;
              font-weight: 500;
            }

            td {
              font-size: 1.3rem;
              font-weight: 600;
            }
          }
        }
      }

      tr {
        border-bottom: 1px solid rgba($color-primary, 0.1);
        font-family: $font-montserrat;
        color: $color-primary;

        td,
        th {
          padding: 1rem 0.5rem;

          a {
            color: $color-primary;

            &:hover {
              color: #000;
            }
          }
        }
      }
    }

    .order-again {
      margin: 2rem 0;

      a {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        letter-spacing: 1px;
        background: $color-primary;
      }
    }
  }

  .woocommerce-columns--addresses {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .woocommerce-customer-details,
  .woocommerce-column--billing-address,
  .woocommerce-column--shipping-address {
    width: 100%;

    .woocommerce-column__title {
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: 500;
      color: $color-primary;
      font-family: $font-montserrat;
      margin-bottom: 1rem;
    }

    address {
      font-family: $font-montserrat;
      font-weight: 500;
      color: rgba($color-primary, 0.8);
      line-height: 1.8;
      font-size: 14px;
    }
  }
}
